.cow
  .head
    .face
  .leg.b.l
  .leg.b.r
  .leg.f.l
  .leg.f.r
  .tail
.well
  a.home-btn(href="https://codepen.io/vineethtrv") Go Home
.text-box
  h1 401
  p Sorry, You don't have access there...
  
View Compiled